
  
<!DOCTYPE html>
<html lang="en-us">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">


<!--<link rel="stylesheet" media="all" href="http://www.immonavigator.com/assets/immonavigator/application-2dafe298d10f097775f1cec2bc0a477c.css" />
<!-- Webfont -->
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:600,400,300,200,100' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:600,400,300,200,100" />
   
    <link rel="stylesheet" media="all" href="/assets/application.css" data-turbolinks-track="reload" />
    <!--this is s-->
    
    <!-- FontAwesome -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    
<style>


</style>
</head>
<body>

<div class="banner">

 	<a class="logo"  href="#"><img src="http://www.immonavigator.com/assets/immonavigator/logo-769a3a058b23f5eb5f9dd2204d808ca9.png" alt="Logo" /></a>
    				 
    				 <div class="vertical"></div><div class="bannercontent"><h4>Online Portal Software</h4><h5>
Für die digitale Vermarktung von Immobilien und die Kommunikation zwischen Unternehmen und Kunden.
Produkt- und Preisliste (gültig bis zum 01.04.2017)</h5></div>
        		</div>
<div class="content">




  <%= yield %>


<div class="city">
  <a href="#"><img src="/assets/first.jpg" class="images" /></a>
  <ul>
  	<li> Projekt Homepage in Ihrem Look&Feel Design</li>
  	<li>Dynamische Suche mit erweiterten
Suchoptionen</li>
  </ul>
</div>

<div class="city">
	<a href="#"><img src="/assets/second.jpg" class="images" /></a>
	<ul>
		<li>Blog für interaktive Artikel über
das Projekt</li>
		<li>Kostenlose iPhone App
(gültig bis zum 01.04.2017)</li>
		
	</ul>
</div>

<div class="city">
  <a href="#"><img src="/assets/third.jpg" class="images" /></a>
  <ul>
  	<li>Multimediales Exposés
(vorbereitet für 3D-Grundrisse und Videos)</li>
<li>Kontaktanfrage über das Exposé</li>
<li>In deutscher und englischer Sprache</li>
	<li>
Schnittstelle zu FlowFact, OpenImmo & andere></li>
  </ul>
</div>

<div class="city">
  <a href="#"><img src="/assets/fourth.jpg" class="images" /></a>
  <ul>
  	<li>Online Portal in Ihrem Look&Feel Design</li>
<li>Dynamische Suche mit erweiterten
Suchoptionen

</li>
<li>Multimediales Exposés (vorbereitet
für 3D-Grundrisse und Videos)</li>
	<li>
Kontaktanfrage über das Exposé</li>
  </ul>
</div>

<div class="city">
  <a href="#"><img src="/assets/fivth.jpg" class="images" /></a>
  <ul>
  	<li>In deutscher und englischer Sprache </li>
<li>Schnittstelle zu FlowFact, OpenImmo & andere</li>
<li>Kostenlose iPhone App
(gültig bis zum 01.04.2017)</li>
	<li>Kostenlose iPhone App
(gültig bis zum 01.04.2017)</li>
  </ul>
</div>
<div class="city">
  <a href="#"><img src="/assets/sixth.jpg" class="images" /></a>
  <ul>
  	<li>In deutscher und englischer Sprache </li>
<li>Schnittstelle zu FlowFact, OpenImmo & andere</li>
<li>Kostenlose iPhone App
(gültig bis zum 01.04.2017)</li>
	<li>Kostenlose iPhone App
(gültig bis zum 01.04.2017)</li>
  </ul>
</div>

</div>
</body>
</html>